/* 
  Globally avialable SCSS and color palette.

  !!! When you change this file you must restart your dev server. !!!
 */

$app-background: #a5b4c6;							// global background of app
$app-max-width: 1140px;									// maximum width of the whole app , eg. when shown in a browser

$primary: #0a54a3;  // #007bfF;										// primary color, titles and button backgrounds
$primary-text: #ffffff;               // text for primary items
$secondary: #6c757d;									// secondary text foreground
$header-bg: #9fb6d4; // rgb(220, 236, 255);				// background of fixed header
$navbar-bg: #9fb6d4; // rgba(220, 236, 255, 0.9);	// background for bottom navbar, a little bit transparent
$input-bg: #c3cce6; //rgb(180, 171, 255); // background for chat bubbles where user has to enter something

$liquido-info-background: #1e1e50;		// background for info alerts.
$poll-list-background: #1e1e50;				// background behind the list of polls on the page that shows all polls.

// There are some more variables in bootstrap that you can use.