/**
 * These styles are imported in root-app.vue so they are a available to every component.
 */


/** No iOS native button and input styling */
button, [type="button"], [type="reset"], [type="submit"], input {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	cursor: pointer;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
			-khtml-user-select: none; /* Konqueror HTML */
				-moz-user-select: none; /* Old versions of Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently
																	supported by Chrome, Opera and Firefox */
}

/** LIQUIDO - beautifull brand mark */
.liquido:after {
	content: "LIQUIDO";
	font-family: 'Libre Baskerville', serif;
	color: $primary;
}

.opacity0 {
	opacity: 0;
}


//TODO: find right base font size for everything, MAYBE depending on screen size
/*
html {
	// font-size: 16px;   
	background-color: $app-background;
}
*/

/** 
 * Main app content below the header
 * no horizintal scrolling 
 */
#appContent {
	background-color: $app-background;
	margin-top: 2rem;  // margin-top is behind header!
	padding-top: 0.5rem;
	padding-bottom: 100px;  // space behind navbar-bottom!
	padding-left: 10px;     // smaller than bootsraps default 15px. But still enough for iOS scrollbar.
	padding-right: 10px;
}

// need to be more CSS specific than bootstrap's default. So therefore the #app
#app {
	max-width: 1140px; // bootstrap breakpoint of container-lg
	margin: 0 auto;  
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: $app-background;
	.page-title {
		font-family: 'Libre Baskerville', serif;
		margin: 1rem 0;
	}

	.alert, .card-body {
		p:last-child {
			margin-bottom: 0;					// Why is this not the default in bootstrap???
		}
	}

	h1,h2,h3,h4,h5,h6 {
		font-family: 'Libre Baskerville', serif;
	}

	/* The bootstrap defaults are way to big on mobile screens! */
	h1 { font-size: 1.75rem }
  h2 { font-size: 1.50rem; }
	h3 { font-size: 1.25rem; }
	h4 { font-size: 1.00rem; }
	h5 { font-size: 1rem; }  // not used in LIQUIDO
	h6 { font-size: 1rem; }
	
	.alert {
		padding: 0.5rem;
	}

	.chat-bubble {
		//background-color: $secondary-bg;
		margin-bottom: 1rem;
		opacity: 1;
		transform: none;
		max-height: 1000px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		.card-body {
			padding: 0.5rem;
			ul {
				padding-inline-start: 25px;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	.input-bubble {
		background-color: $input-bg;
		.card-header {
			padding: 10px;
		}
		.card-body {
			padding: 10px;
		}
		.description-textarea {
			width: 100%;
		}
	}
	
	.text-small {
		font-size: 80%;
		color: $secondary;
	}

	.chat-right {
		background-color: $input-bg;
		margin-left: 2rem;
		margin-bottom: 1rem;
	}

	.transition-all {
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.hide-left {
		opacity: 0;
		transform: translateX(-20px);
	}
	.hide-right {
		opacity: 0;
		transform: translateX(20px);
	}
	.collapse-max-height {
		display: none !important;
		/*
		max-height: 0;
		overflow: hidden;
		margin-top: 0;
		margin-bottom: 0;
		border: none;
		*/
	}
}

.alert-info {
	color: #DDE !important;
	background-color: #686876 !important;	
	border: 1px solid #aaaabb !important;
}

/** 
 * Background for message to admin. 
 * Always used with <i class="fas fa-shield-alt"></i>
 */
.alert-admin {
	color: #DDE !important;
	background-color: #824e68 !important;	
	border: 1px solid #aaaabb !important;
}
