//These styles are imported in App.vue so they are a available to every component.

/** No iOS native button and input styling */
button, [type="button"], [type="reset"], [type="submit"], input {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/** LIQUIDO - beautifull brand mark */
.liquido:after {
	content: "LIQUIDO";
	font-family: 'Libre Baskerville', serif;
	color: $primary;
}